body {
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   color:blue
}

.wrapper {
   margin: auto;
   width: 90%;
}

.container {
   margin: auto;
   width: 70%;
}

.container img {
   width: 15em;
   height: 15em;
}

.title {
   display: flex;
   justify-content: space-between;
   border-top: 0.1em solid #000;
}

.icon {
   display: none;
   background-image: url(img/icons8-сложение-50.png);
   width: 3em;
   height: 3em;
   transition: 0.5s;
}

.input {
   appearance: none;
}

.images {
   margin: auto;
   scale: 0;
   width: 0em;
   height: 0em;
   transition: 0.5s;
}

.input:checked + .label > .images { 
   scale: 1;
   margin: auto;
   width: 15em;
   height: 15em;
   transition: 0.5s;
}

.input:checked + .label > .title > .icon { 
   transform: rotate(45deg);
   transition: 0.5s;
}

.input:checked + .label > .title > p { 
   color: black;
   transition: 0.5s;
}

.container:hover > label > .title > p {
   color: black;
   cursor: pointer;
   transition: 0.5s;
}

.container:hover > label > .title > .icon {
   display: block;
   cursor: pointer;
   transition: 0.5s;
}

label:hover {
   cursor: pointer;
}

label:hover > .title > .icon {
   transform: rotate(45deg);
   transition: 0.5s;
}

label:hover > .images {
   scale: 1;
   margin: auto;
   width: 15em;
   height: 15em;
   cursor: pointer;
   transition: 0.5s;
}

.input:active + .label > .images {
   opacity: 0.6;
   transition: 0.5s;
}

.input:active + .label > .title > p {
   color: blue;
   opacity: 0.7;
   transition: 0.5s;
}

.input:active + .label > .title > .icon {
   background-image: url(img/icons8-сложение-blue.png);
   opacity: 0.7;
   transition: 0.5s;
}